@import "~src/sass/variables";
// Responsive MIXINS
//########################################
//TODO: start using responsives mixins!!, import to components to use.

$break-small: 414px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
//Animate Transform Transition mixins
@mixin transition($in) {
  transition:$in;
  -webkit-transition:$in;
  -moz-transition:$in;
  -o-transition:$in;
  -ms-transition:$in;
}
@mixin transform($in) {
  transform:$in;
  -webkit-transform:$in;
  -moz-transform:$in;
  -o-transform:$in;
  -ms-transform:$in;
}
@mixin animation($in) {
  animation:$in;
  -webkit-animation:$in;
  -moz-animation:$in;
  -o-animation:$in;
  -ms-animation:$in;
}
// Font-Mixins

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

// Buttton generator
// Mixin origin:
// https://codepen.io/pushplaybang/pen/veEpH

%well {
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), inset -1px -1px 1px rgba(100,100,100,0.1);
}
%bump {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px -1px 1px rgba(100,100,100,0.3);
}
%outset {
  border-top: 1px solid rgba(250,250,250,0.05);
  border-left: 1px solid rgba(250,250,250,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
}
%inset {
  border-bottom: 1px solid rgba(250,250,250,0.05);
  border-right: 1px solid rgba(250,250,250,0.05);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
}
%gplay_pseudo {
  content: "";
  display:block;
  position:absolute;
  top:0;
  right:0;
}
@mixin button($bg: transparent, $color: #fff, $height: 32px, $fontSize:14px) {
  background:$bg;
  color:$color;
  cursor: pointer;
  display: inline-block;
  position:relative;
  font-size:$fontSize;
  /* font-weight:100; */
  line-height:$height;
  height:$height;
  padding: 0 $fontSize;
  text-transform: uppercase;
  text-decoration:none;
  &:hover, &:active {
    background: darken($bg, 8%);
    color: rgba(0,0,0,0.45);
  }
}

%reactiveInset {
  &:hover {
    @extend %inset;
  }
  &:active {
    @extend %inset;
    @extend %well;
  }
}

@mixin gplay($bg: #b3c833, $color: #fff, $height: 32px,$fontSize:16px) {
  @include button($bg,$color,$height);
  padding-right: ($height+3px);
  &:before {
    @extend %gplay_pseudo;
    border-right:$height solid #f7f7f7;
    border-bottom:$height solid transparent;
    opacity: 0.25;
  }
  &:after {
    @extend %gplay_pseudo;
    border-right:$height solid #222;
    border-top:$height solid transparent;
    opacity: 0.3;
  }
  &:hover {
    background:darken($bg,4%);
  }
  &:active {
    background:darken($bg,6%);
    border:none;
    @extend %well;
  }
}

@mixin borderbutton($color: #fff, $height: 32px, $fontSize: 16px, $border:2px ) {
  @include button($color: $color,$height: $height, $fontSize:$fontSize);
  border: $border solid;
  line-height:($height - $border);
  &:hover, &:active {
    color: lighten($color,5%);
  }
}


//* {
//  //-webkit-box-sizing: border-box;
//  //-moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

//  Usage of mixin

// .plain { @include button(#f3c037);  }
// .jane { @include button(#0074D9); }
// .send { @include button(#e4653f); }
// .compose { @include button(#a5c83a); }

// .subtle { @include button($color:#888); @extend %outset; @extend %reactiveInset; }
// .simple { @include button($color:#888); @extend %outset; @extend %reactiveInset; }
// .minimal { @include button($color:#888); @extend %outset; @extend %reactiveInset; }
// .awesome { @include button($color:#888);  @extend %outset; @extend %reactiveInset; }

// .apps { @include gplay(#b3c833); }
// .games { @include gplay($bg: #11b1ff);}
// .books { @include gplay($bg: #FF851B); }
// .collections { @include gplay($bg: #FF4136); }

// .fashion,
// .style,
// .blog,
// .readmore {
//   @include borderbutton($color:#666);
// }

// .apple { @include borderbutton($color:#FF4136, $border: 1px); }


// .halt { @include button(#00a1cb);  }



// Input mixin
// https://codepen.io/MichaelArestad/pen/qltuk

@mixin epic-sides() { // https://codepen.io/MichaelArestad/pen/qltuk
  font-family: $font-opensans;
  font-weight: 300;
  color: #fff;
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    z-index: -1;
    @content;
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  @extend %hide-invalidcss-input;
  @include epic-sides() {background: inherit;}
  span {
    position: relative;
    display: inline-block;
    margin: 2.3em 0 0 0;
  }
}

.alert{
  align-self: flex-end;
  padding: 5px;
  margin-top: 5px;
  font-size: smaller;
  background-color: rgba(209, 209, 209, 0.52);
  color: get-color(lighter);
  border-radius: 5px;
}
%hide-invalidcss-input{
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #6da976; /* green */
  }

  .ng-valid {
    border-left: 5px solid #6da976; /* green */
  }
  .ng-invalid{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a96c71; /* red */
  }
}



.balloon {
  display: inline-block;
  width: 300px;
  padding: 10px 0 10px 15px;
  font-family: $font-opensans;
  font-weight: 400;
  color: get-color(subtle);
  background: get-color(subtle);
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px; // Arbitrary.
  transition: all .3s ease-in-out;

  &::-webkit-input-placeholder {
    color: get-color(subtle);
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 5px 15px;
    color: get-color(primary);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19,74,70,0);
    transition: all .3s ease-in-out;
    border-radius: 3px;
    background: rgba(122,184,147,0);

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 50%;
      margin-left: -3px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid rgba(122,184,147,0);
      transition: all .3s ease-in-out;
    }
  }
}
.balloon:focus,
.balloon:active {
  color: get-color(primary);
  text-indent: 0;
  background: get-color(subtle);

  &::-webkit-input-placeholder {
    color: get-color(lighter);
  }
  + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: get-color(primary-red);
    transform: translateY(-40px);

    &:after {
      border-top: 4px solid get-color(primary-red);
    }
  }
}

// Tags
%tags{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin:0;
  padding:0;
  list-style:none;
  li,a{
    float:left;
    height:20px;
    line-height:20px;
    position:relative;
    font-size:10px;
  }
  a{
    padding:0 10px 0 12px;
    background:get-color(primary-red);
    color:get-color(secondary);
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
  }
  a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent get-color(primary-red) transparent transparent;
    border-style:solid;
    border-width:10px 12px 10px 0;
  }
  a:after{
    content:"";
    position:absolute;
    top:9px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
  }
  a:hover{background:#555;}
  a:hover:before{border-color:transparent #555 transparent transparent;}
}
