//FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web');

$font-titillium: 'Titillium Web', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$colors: (
  primary: #303030,
  lighter: #7a7783,
  accent: whitesmoke,
  secondary: white,
  subtle: #e2e2e2,
  highlight: #d1d1d1,
  danger: #ff1627,
  primary-blue: rgb(5, 87, 184),
  primary-red: rgb(186,0,6),
  accent-violet: #8710ff
);

@function get-color($color-name){
  @return map-get($colors,$color-name);
}
// ICONS
$fa-font-path: "~src/sass/vendor/fontawesome-free-5.3.1-web/webfonts";
