@import '~src/sass/variables';
@import '~src/sass/mixins';

html, body{
  margin: 0;
  padding: 0;
  background-color: #e3e3e3b3;
}

@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } /* needed for checkbox hack */
body {
  -webkit-animation: bugfix infinite 1s; /* needed for checkbox hack */
  -o-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s;
}

a, button{
  &:hover{
    outline: 0;
  }
  &:focus{
    outline: 0;
  }
  &:active{
    outline: 0;
  }
  outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}
a::-moz-focus-inner {
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}
