<div class="box"  *ngIf="movie" [ngStyle]="{'background-image': getUrl()}"  >
  <div class="box-inner">
    <div class="the-content-box">
      <div class="content-box-inner">
        <circle-progress
          [percent]="(movie.vote_average * 10)"
          [animation]="false"
        ></circle-progress>
        <a [routerLink]="['/movie', movie.id, movie.original_title]"><span>View Info</span></a>
      </div>
    </div>
  </div>
</div>
<p class="movie-title">{{movie.original_title}}</p>
<p class="movie-year"> {{movie.release_date | date: 'yyyy'}}</p>
