@import "~src/sass/variables";
@import "~src/sass/mixins";
:host{
  height: fit-content;
  width: 185px;
}
.movie-title {
  font-family: $font-titillium;
  font-size: 15px;
  color: get-color(primary);
  margin: 4px 0px 0px 0px;
}
.movie-year{
  font-family: $font-titillium;
  font-size: 12px;
  color: lighten(get-color(primary),10%);
  margin: 2px 0px 0px 0px;
}

$font-size: 12px;
.box{
  height: 270px;
  width: 185px;
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: ($font-size * 0.8);
  &:hover{
    font-size: $font-size;
    .the-content-box{
      transform: translateY(0%);
      background: rgba(black, 0.8);
      hr{
        width: 80%;
        transition-delay: 900ms;
      }

      //a{
      //  opacity: 1;
      //  transform: translateX(0%);
      //}
    }
  }
}
.box-inner{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.the-content-box{
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(#4A89CD, 0.6);
  color: white;
  transform: translateY(150%);
  transition: all 600ms ease;
  circle-progress{
    margin: 5em auto auto;
    font-family: $font-titillium;
  }
  a{
    @include button(#f3c037);
    font-family: $font-titillium;
    margin: 1em auto;
  }
}
.content-box-inner{
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
