<ng-container *ngIf="movie">
  <div class="header" [ngStyle]="{'background-image': getBackdropUrl()}" *mqIf="'(min-width: 768px)'">
  </div>
  <div class="content">
    <div class="poster-card" [ngStyle]="{'background-image': getPosterUrl()}"></div>
    <div class="movie-data">
      <h1 class="movie-title">{{movie.original_title}}</h1>
      <div class="movie-details">
        <ul>
          <li>
            <ul class="genres-tags">
              <li *ngIf="movie.adult"><a href="#"> + 18</a></li>
              <li *ngFor="let g of movie.genres"><a href="#">{{g.name}}</a></li>
            </ul>
          </li>
          <li>Length: <span>{{getMovieLenght()}}</span></li>
          <li>Release date: <span>{{movie.release_date | date:'longDate' }}</span></li>
          <li *ngIf="crew">Director: <span>{{director.name}}</span></li>
        </ul>
        <fa-icon
          [satPopoverAnchorFor]="ratePopover"
          class="fa-2x btn-star"
          [icon]="faStar"
          (click)="ratePopover.toggle()">
        </fa-icon>
        <sat-popover
          #ratePopover
          hasBackdrop
          horizontalAlign="after"
          scrollStrategy="block"
          openTransition="400ms ease-out"
          closeTransition="100ms ease-in">
          <div class="rating-wrapper">
            <fa-icon class="fa-2x delete" (click)="deleteRating()" [icon]="faMinusCircle" *ngIf="rateValue"></fa-icon>
            <fieldset class="rating">
              <input [(ngModel)]="rateValue" #rateValue1  type="radio" id="star5" name="rating" value="5" /><label       (click)="vote(rateValue1.value)"  class = "full" for="star5" title="Awesome - 5 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue2 type="radio" id="star4half" name="rating" value="4.5" /><label (click)="vote(rateValue2.value)"  class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue3 type="radio" id="star4" name="rating" value="4" /><label       (click)="vote(rateValue3.value)"  class = "full" for="star4" title="Pretty good - 4 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue4 type="radio" id="star3half" name="rating" value="3.5" /><label (click)="vote(rateValue4.value)"  class="half" for="star3half" title="Meh - 3.5 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue5 type="radio" id="star3" name="rating" value="3" /><label       (click)="vote(rateValue5.value)"  class = "full" for="star3" title="Meh - 3 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue6 type="radio" id="star2half" name="rating" value="2.5" /><label (click)="vote(rateValue6.value)"  class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue7 type="radio" id="star2" name="rating" value="2" /><label       (click)="vote(rateValue7.value)"  class = "full" for="star2" title="Kinda bad - 2 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue8 type="radio" id="star1half" name="rating" value="1.5" /><label (click)="vote(rateValue8.value)"  class="half" for="star1half" title="Meh - 1.5 stars"></label>
              <input [(ngModel)]="rateValue" #rateValue9 type="radio" id="star1" name="rating" value="1" /><label       (click)="vote(rateValue9.value)"  class = "full" for="star1" title="Sucks big time - 1 star"></label>
              <input [(ngModel)]="rateValue" #rateValue20 type="radio" id="starhalf" name="rating" value="0.5" /><label  (click)="vote(rateValue20.value)"  class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
          </div>
        </sat-popover>
      </div>
    </div>
  </div>
  <div class="details-wrapper">
    <div class="movie-desc">
      <div class="movie-overview">
        <h2>Synopsys</h2>
        <p *ngIf="movie.overview">{{movie.overview}}</p>
      </div>
      <div class="movie-specs">
        <ul>
          <li class="votes">
            <circle-progress
              [percent]="(movie.vote_average *10)"
            ></circle-progress>
            from
            {{movie.vote_count}} votes
          </li>
          <li *ngIf="movie.status">Status: <span>{{movie.status}}</span></li>
          <li *ngIf="movie.original_language">Language: <span>{{movie.original_language}}</span></li>
          <li *ngIf="movie.revenue" >Revenue: <span>${{movie.revenue}}</span></li>
          <li *ngIf="movie.adult">Adult: <span>{{movie.adult}}</span></li>
          <li *ngIf="movie.belongs_to_collection">Collection: <span>{{movie.belongs_to_collection.name}}</span></li>
          <li *ngIf="movie.budget">Budget: <span>${{movie.budget}}</span></li>
          <li *ngIf="movie.tagline">Tagline: <span>{{movie.tagline}}</span></li>
          <li *ngIf="movie.production_companies.length > 0">
            Production:
            <ul>
              <li *ngFor="let p of movie.production_companies">
                <span>{{p.name}}</span>
              </li>
            </ul>
          </li>
        </ul>




      </div>
    </div>
    <app-comments></app-comments>
    <ng-container *ngIf="cast && crew">
      <app-accordion [title]="'Cast & Crew'">
        <app-cast-viewer *ngIf="cast" [cast]="cast" [movie]="movie"></app-cast-viewer>
      </app-accordion>
    </ng-container>
    <ng-container *ngIf="movieSimilar">
      <app-accordion [title]="'Similar Movies'">
        <div class="wildcards-wrapper">
          <app-movie-wildcard *ngFor="let similar of movieSimilar" [movie]="similar"></app-movie-wildcard>
        </div>
      </app-accordion>
    </ng-container>
  </div>
</ng-container>
