@import "~src/sass/variables";
@import "~src/sass/mixins";
.poster-card{
  height: 350px;
  width: 250px;
  border: 7px solid whitesmoke;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.header{
  background-size: cover;
  height: 450px;
  width: 100%;
  //top: 0;
  left: 0;
  right: 0;
  //opacity: 0.6;
  position: absolute;
  background: #2a2a30 no-repeat center;
  filter: blur(3px);
}
.header::after{
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(42,42,48,0.45);
}
.movie-data{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin: 50px 50px 15px 50px;
  font-family: 'Roboto', sans-serif;
  color: get-color(secondary);
  h1{
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0 0 0;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      margin: 10px;
    };
  }
}
.cast-cards{
  width: 20%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cast-thumbnail{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.details-wrapper{
  background-color: white;
  border: none;
  width: 100%;
  @include respond-to(wide-screens){
    margin: 2em auto;
    width: 80%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  }
}
.movie-desc{
  display: grid;
  @include respond-to(wide-screens){
    grid-template-columns: auto 200px;
    grid-gap: 1rem;
  }
  margin: 0 2em;
  .movie-overview{
    margin-top: 25px;
    h2{
      margin: 0 ;
      font-size: 2.5em;
      font-family: $font-titillium;
      color: get-color(primary);
    }
    p{
      font-family: $font-titillium;
      color: get-color(lighter);
    }
  }
  .movie-specs{
    height: fit-content;
    color: get-color(primary);
    font-family: $font-titillium;
    font-weight: bolder;
    font-size: 14px;
    margin-top: 25px;
    ul{
      padding: 0;
      list-style: none;
      li{
        margin: 7px auto;
        span {
          color: get-color(lighter);
        }
        circle-progress{
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

%flex-row-wraper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  align-content: center;
  justify-content: center;
}
.wildcards-wrapper{
  @extend %flex-row-wraper;
  app-movie-wildcard{
    margin: 1em;
  }
  background-color: whitesmoke;
}
.btn-star {
  margin-top: 15px;
  margin-left: 15px;
  background-color: transparent;
  border: 2px solid get-color(secondary);
  color: get-color(secondary);
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  &:hover{
    //color: darken(get-color(secondary),70%);
    border-color: get-color(primary);
    background-color: get-color(primary);
    color: #FFED85;
    transition: color 300ms, background-color 300ms;
  }
}

/****** Style Star Rating Widget *****/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rating {
  border: none;
  float: left;
}
.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: white;
  margin-left: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  .success{
    margin-right: 10px;
    color: #63cf4e;
  }
  .delete{
    margin-left: 10px;
    color: #cf4b2a;
  }
}

.genres-tags{
  @extend %tags;
}

.votes{
  //border: 1px solid #80808000;
  //border-radius: 40px;
  display: flex;
  height: 75px;
  align-content: center;
  align-items: center;
  justify-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding: 6px 30px 0 0;
  //background-color: #bababa;
  //box-shadow: 4px 4px 11px #b4b4b4;
}
