@import "~src/sass/variables";
@import "~src/sass/mixins";

:host{
  width: 100%;
}

%viewer-container{
  height: 400px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-areas: "panel profile";
  background-color: white;
  grid-column-gap: 2em;
  @include respond-to(wide-screens){
    width: 80%;
    margin: 2em auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  }
  @include respond-to(medium-screens){
    border-bottom: 1px solid get-color(subtle);
  }
  @include respond-to(handhelds){
    height: 600px;
    display: flex;
    flex-direction: column;
  }
}
%viewer-panel{
  grid-area: panel;
  height: inherit;
  border-right: 1px solid get-color(subtle);
  overflow: auto;
  ul{
      list-style: none;
      padding: 0;
    li{
      height: fit-content;
      padding: 2% 0 2% 10%;
      font-family: $font-titillium;
      @include respond-to(handhelds){
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        padding: 2% 0 2% 15px;
        border-bottom: 1px solid lighten(get-color(subtle),8%);
      }
      p{
        cursor: pointer;
      }
      p.cast-name{
        font-size: 16px;
        color: get-color(primary);
        margin: auto;
        @include respond-to(handhelds){
          margin: auto 1em auto 1em;
        }
      }
      p.cast-character{
        margin: 3px 0 3px 0;
        font-size: 12px;
        color: get-color(lighter);
      }
    }
  }
}
%viewer-profile{
  margin-top: 2em;
  grid-area: profile;
  height: inherit;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-areas: "card profile-data";
  grid-column-gap: 1em;
  @include respond-to(handhelds){
    display: none;
  }
}
%cast-poster{
  background-size: cover;
  background: no-repeat center;
  grid-area: card;
  width: 185px;
  height: 270px;
  border: 15px solid white;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}
%cast-info{
  grid-area: profile-data;
  font-family: $font-titillium;
  .data-container{
    height: 300px;
    overflow: hidden;
    margin: 0 2em 1em 0;
    p{
      text-overflow: ellipsis;
    }
  }
  p{
    // TODO: manage overflow
    // white-space: nowrap;
    margin: 0;
    letter-spacing: 1px;
  }
  .profile-title{
    @include respond-to(wide-screens){
      font-size: 38px;
    }
    @include respond-to(medium-screens){
      font-size: 28px;
    }
    color: get-color(primary);
  }
  .profile-data{
    text-overflow: ellipsis;
    font-size: 13px;
    @include respond-to(wide-screens){
      font-size: 14px;
    }
    color: get-color(primary);
    span{
      color: get-color(lighter);
    }
  }
}
%rounded-thumbnail{
  border: none;
  border-radius: 50%;
  background: no-repeat center;
  background-size: contain;
  height: 75px;
  width: 75px;
}
.cast-viewer-container{
  @extend %viewer-container;
}
.cast-list-panel{
  @extend %viewer-panel;
}
.selected{
  @include respond-to(wide-screens){
    border-left: solid 1px darkslategrey;
    border-width: 6px;
    background-color: #e5e5ff;
    transition: border-width 0.3s linear,background-color 0.3s ease;
  }
  @include respond-to(medium-screens){
    border-left: solid 1px darkslategrey;
    border-width: 6px;
    background-color: #e5e5ff;
    transition: border-width 0.3s linear,background-color 0.3s ease;
  }
}
.cast-detail{
  @extend %viewer-profile
}
.profile-info{
  @extend %cast-info;
}
.profile-card{
  @extend %cast-poster;
}
.btn-info {
  @include borderbutton($color:rgb(100, 163, 247), $border: 1px);
  float: right;
  text-align:center;
  margin-right: 2em;
}
.thumbnail{
  @extend %rounded-thumbnail;
  @include respond-to(medium-screens){
    display: none;
  }
  @include respond-to(wide-screens){
    display: none;
  }
}
