<ng-container *ngIf="cast && selectedPerson">
  <div class="cast-viewer-container">
    <div class="cast-list-panel">
      <ul>
        <li *ngFor="let person of cast" [class.selected]="person.id === selectedPerson.id" (click)="onSelect(person.id)">
          <img *mqIf="'(max-width: 414px)'" alt="{{person.name}}" class="thumbnail" [src]="getCastAvatarUrl(person)">
          <p class="cast-name">{{person.name}}</p>
          <p class="cast-character"> as {{person.character}}</p>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="selectedPerson" >
      <div class="cast-detail" *mqIf="'(min-width: 414px)'">
        <div class="profile-card"  [ngStyle]="{'background-image': getCastPosterUrl(selectedPerson)}"></div>
        <div class="profile-info">
          <div class="data-container">
              <p class="profile-title">{{selectedPerson.name}}</p>
              <p class="profile-data" *ngIf="selectedPerson.birthday">Age at release: <span>{{getAgeAtFilmRelease()}}</span></p>
              <p class="profile-data" *ngIf="selectedPerson.place_of_birth">Nationality: <span>{{selectedPerson.place_of_birth.split(',').pop()}}</span></p>
              <p class="profile-data" *ngIf="selectedPerson.popularity">Popularity: <span>{{selectedPerson.popularity}}</span></p>
              <p class="profile-data">{{selectedPerson.biography}}</p>
          </div>
          <div class="btn-info">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
            more info
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
