.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container:after {
  display: block;
  flex: 999 999 auto;
}
app-movie-wildcard{
  margin: 15px;
}
