<nav class="navbar">
  <img src="../../assets/tv_no_signal.png" height="54px" width="36px"/>
  <ul class="nav-item-list">
    <li class="nav-item"><a routerLink="/home">Home</a></li>
    <li class="nav-item">About</li>
    <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="/login">Log in</a></li>
    <li class="nav-item" *ngIf="isLoggedIn" (click)="logout()">Log out</li>
  </ul>
</nav>
