@import "~src/sass/variables";
@import "~src/sass/mixins";

.navbar{
  height: fit-content;
  width: 100%;
  background-color: get-color(secondary);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  font-family: $font-titillium;
  color: get-color(primary);
  img{
    margin: 5px 2em;
    align-self: flex-start;
    justify-self: flex-start;
  }
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 2em 0 auto;
    li{
      a{
        text-decoration: none;
        color: get-color(primary);
      }
      padding: 1em 2em;
      border-bottom: transparent solid 7px;
      &:hover{
        border-color: get-color(primary-red);
        background-color: darken(get-color(secondary),1%);
        transition: border-bottom-color ease-in 400ms;
      }
    }

  }
}
