@import "~src/sass/variables";

%accordion-title{
  text-decoration: none;
  font-weight: normal;
  font-family: $font-titillium;
  color: get-color(primary);
  margin: auto 0px auto 2em;
}
%content-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  //padding: 2em 0em 2em 0em;
}
%button {
  background-image: url('assets/down-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em;
  margin: auto 0px auto 2em;
}

.accordion-item{
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;

  .accordion-bar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid get-color(subtle);

    .accordion-title{
      @extend %accordion-title;
    }

    .accordion-button{
      @extend %button;
    }
  }
  .accordion-content{
    @extend %content-container;
    background-color: whitesmoke;
  }
}







/* The best way */

%twitter-background {
  color: #fff;
  background: #55acee;
}
%facebook-background {
  color: #fff;
  background: #3b5998;
}

.btn {
  &--twitter {
    @extend %button;
    @extend %twitter-background;
  }
  &--facebook {
    @extend %button;
    @extend %facebook-background;
  }
}
