@import "~src/sass/variables";
@import "~src/sass/mixins";


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.comments-container {
  font-family: $font-titillium;
  margin: 60px auto 15px auto;
  width: 90%;
  h1{
    font-size: 36px;
    color: get-color(primary);
    font-weight: 400;
  }
  h1 a{
    font-size: 18px;
    font-weight: 700;
  }
}

.comments-list {
  margin-top: 30px;
  position: relative;
  &:before{
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
  }
  &:after{
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    border-radius: 50%;
  }
  li {
    margin-bottom: 15px;
    display: block;
    position: relative;
    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      width: 0;
    }
  }
  .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .comment-box {
    width: 90%;
    float: right;
    position: relative;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    &:before, &:after{
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      display: block;
      border-width: 10px 12px 10px 0;
      border-style: solid;
      border-color: transparent darken(white,3%);
      top: 8px;
      left: -11px;
    }
    &:before{
      border-width: 11px 13px 11px 0;
      border-color: transparent rgba(0,0,0,0.05);
      left: -12px;
    }
  }
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
  &:before,&:after{
    display: none;
  }
  li:before{
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
  }
  .comment-avatar {
    width: 50px;
    height: 50px;
  }
  .comment-box {
    width: 90%;
  }
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

.comment-box{
  .comment-head {
    background: darken(white,5%);
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    span {
      float: left;
      color: #999;
      font-size: 13px;
      position: relative;
      top: 1px;
    }
    fa-icon {
      float: right;
      margin-left: 14px;
      position: relative;
      top: 2px;
      color: #A6A6A6;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover{
        color: #03658c;
      }
    }
    .dislike{
      color: #A6A6A6;
      transition: color 0.3s ease;
      &:hover{
        color: get-color(danger);
      }

    }
    .likes{
      width: fit-content;
      display: inline-flex;
      position: relative;
      top: -4px;
      margin-left: 14px;
      fa-icon{
        color: get-color(primary-blue);
        display: flex;
        margin: 0 auto;
        position: relative;
        top: 1px;
        cursor: default;
      }
      span{
        text-align: center;
        font-size: 13px;
        font-family: $font-titillium;
        margin: auto 4px;
      }
    }
    .comment-name {
      color: #283035;
      font-size: 14px;
      font-weight: 700;
      float: left;
      margin-right: 10px;
      a {
        color: #283035;
      }
    }
  }
  .comment-footer{
    background: darken(white,3%);
    padding: 2px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    .edit{
      float: right;
      margin-left: 1em;
      color: #A6A6A6;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover{
        color: #03658c;
      }
    }
    .delete{
      float: right;
      margin-left: 1em;
      color: #A6A6A6;
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover{
        color: get-color(danger);
      }
    }
  }
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  overflow-wrap: break-word;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}
%input-wrapper{
  background: darken(white,4%);
  padding: 1em;
  font-size: 1em;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  float: right;
  margin: 1em 0;

  textarea{
    border-radius: 4px;
    outline: none;
    resize: none;
    text-indent: 5px;
    font-family: $font-titillium;
    color: get-color(primary);
    border: 0;
  }
  fa-icon{
    cursor: pointer;
    margin: 0 5px 5px auto;
    color: #A6A6A6;
    transition: color 0.3s ease;
    &:hover{
      color: get-color(primary);
    }
  }
  button{
    @include borderbutton(get-color(primary-blue), $border: 2px);
    align-self: flex-end;
    width: fit-content;
    border-radius: 3px;
    margin-top: 1em;
    fa-icon{
      margin-right: 5px;
      color: get-color(primary-blue);
    }
    &:hover{
      background-color: get-color(primary-blue);
      border-color: get-color(primary-blue);
      color: white;
      fa-icon{
        color: white;
      }
    }
    &:disabled{
      color: white;
      fa-icon{
        color: white;
      }
      background-color: #999999;
      border-color: #999999;
    }
  }
}
.reply-input-wrapper{
  @extend %input-wrapper;
  width: 80%;
}
.reply-edit-wrapper{
  @extend %input-wrapper;
  width: 90%;
}
.comment-edit-wrapper{
  @extend %input-wrapper;
  width: 89%;
}
.comment-intput-wrapper{
  @extend %input-wrapper;
  float: none !important;
}
