@import "~src/sass/variables";
@import "~src/sass/mixins";


.text-wrapper{
  background-color: transparent;
  color: white;
  left: 2em;
  top: 2em;
  font-family: $font-titillium;
  width: 400px;
  p{
    width: fit-content;
    margin: 0;
    font-size: 18px;
  }
  h1{
    width: fit-content;
    margin: 0;
    font-size: 3em;
  }
}

.card{
  width: fit-content;
  height: fit-content;
  padding: 1em 2em;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  right: 1em;
}

.btn-register{
   @include borderbutton(get-color(primary-red), $border: 2px);
  margin: 1.6em 10px 1em auto;
  align-self: end;
  width: fit-content;
  border-radius: 3px;

  &:hover{
    background-color: get-color(primary-red);
    border-color: get-color(primary-red);
    color: white;
  }
}


.background-container{
  background-image: url("../../assets/cinema_seats.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  width: 100%;
  display: block;
  position: relative;
  .clipped-back{
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(186,0,6,0.88);
    clip-path: polygon(0 0, 78% 0, 36% 100%, 0% 100%);
  }
  .content{
    display: flex;
    position: absolute;
    z-index: 2;
    color: white;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin: 4rem auto;
  }
}
