<div class="background-container">
  <div class="clipped-back"></div>
  <div class="content">
    <div class="text-wrapper">
      <h1>Welcome to our APP!</h1>
      <p>Please fill all the forms fields to register.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, possimus, unde. At consectetur consequuntur doloribus expedita hic illo laborum quasi reiciendis rerum, soluta? Delectus dolorem eaque molestias non nulla saepe.</p>
    </div>
    <div class="card">
      <div class="form-wrapper">
  <span>
    <input
      class="balloon" id="email" [(ngModel)]="user.email"
      #email="ngModel" type="email" placeholder="example@example.com"
      required email/>
    <label for="email">Email</label>
  </span>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.email">
            Wrong email format.
          </div>
        </div>
        <span>
    <input
      class="balloon" id="password" [(ngModel)]="user.password"
      #password="ngModel" type="password" placeholder=""
      required minlength="6"/>
      <label for="password">Password</label>
  </span>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
          </div>
        </div>
        <span>
    <input
      class="balloon" id="confirmation" [(ngModel)]="confirmationPassword"
      #confirmation="ngModel" type="password" placeholder=""
      required minlength="6"/>
      <label for="confirmation">Confirmation Password</label>
  </span>
        <div *ngIf="confirmation.invalid && (confirmation.dirty || confirmation.touched)" class="alert">
          <div *ngIf="confirmation.errors">
            Confirmation password is required.
          </div>
        </div>
        <div *ngIf="(password.value !== confirmation.value) && (confirmation.dirty || confirmation.touched)" class="alert">
          <div>Passwords doesn't match.</div>
        </div>
        <span>
    <input
      class="balloon"
      id="username"
      [(ngModel)]="user.username"
      #username="ngModel"
      type="text"
      placeholder="Field requierd."
      required
      minlength="4"/>
    <label for="username">Username</label>
  </span>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 4 characters long.
          </div>
        </div>
        <span>
    <input
      class="balloon" id="name"
      type="text" placeholder="Jhon Doe"
      [(ngModel)]="user.name"
      #name="ngModel" required/>
      <label for="name">Last name & Name</label>
  </span>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
        <button (click)="onRegisterSubmit()" class="btn-register">Register</button>
      </div>
    </div>
  </div>
</div>
